<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!-- 改造成web项目第五步 -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- 改造成web项目第六步 -->
    <!--cd D:\workspaces\github\thinking-in-spring-->
    <!-- mvn clean package -->
    <!-- cd bean-scope\target -->
    <!-- java -jar -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=9527 bean-scope-1.0-SNAPSHOT-war-exec.jar -->
</web-app>